<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

    <button onclick="logout()">Logout</button>
    

    <script>

        function saveToken(token){
            localStorage.setItem('token' , token)
            console.log('token saved')
        }

        function logout(){
            localStorage.removeItem('token')
            window.location.reload()
        }

        

        var token = localStorage.getItem('token')
        if(token == null){
            window.location.href = '/login/'
        }else{
            document.body.innerHTML += "<h1>You are authenticated</h1>"
        }

        </script>
</body>
</html>

 